@import '../../variables';

.users-task-wrapper {
  padding: $normal-margin;

  h3 {
    margin: 0;
  }

  .tasks-list {
    ul {
      li {
        span {
          font-weight: 600;
        }
      }
    }
  }
}
