@import '../../variables.scss';

$list-color: darken($normal-bgc, 5%);

.main-nav {
  width: 70%;

  ul {
    list-style: none;
    margin: 25% 0;
    padding: 0;
    text-align: center;

    li {
      padding: 10px;
      text-transform: uppercase;
      font-size: $normal-fz - 2;

      a {
        text-decoration: none;
        color: $link-color;
        display: inline-block;

        &:hover,
        &.active {
          color: white;
          text-decoration: underline;
        }
      }

      button {
        min-width: 120px;
        padding: 5px 10px;
        margin-top: 10px;
        color: #b9babe;
        background-color: #110f0f;
        border: 1px solid #bbbdc1;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
}