ol {
  display: block;

  li {
    margin: 5px 0;
    color: #0b0321;

    a {
      color: #0b0321;
      cursor: pointer;
      text-decoration: none;
      min-width: 200px;
      display: inline-block;
    }

    &.completed a {
      text-decoration: line-through;
      color: #7c7c7c;
    }

    &.completed span {
      display: none;
    }

    &.in-progress,
    &.in-progress a {
      text-decoration: underline;
      color: #db0000;
    }

    &.in-progress span.completed,
    &.in-progress span.delete {
      opacity: 0.3;
    }

    &.in-progress span.completed:hover,
    &.in-progress span.delete:hover {
      opacity: 1;
    }

    span {
      display: inline-block;
      margin-left: 15px;
      cursor: pointer;
      vertical-align: middle;

      &.delete {
        background: url('../../img/delete.png') no-repeat center;
        background-size: 20px;
        height: 24px;
        width: 24px;
      }

      &.completed{
        background: url('../../img/completed.png') no-repeat center;
        background-size: 20px;
        height: 24px;
        width: 24px;
      }

      &.in-progress {
        background: url('../../img/in-progress.png') no-repeat center;
        background-size: 20px;
        height: 24px;
        width: 24px;
      }
    }
  }
}