@import './variables.scss';

body {
  height: 100vh;
  font-family: $normal-ff;
  color: $normal-color;
  margin: 0;
  position: relative;
  background: $normal-bgc url('./img/bg.png') no-repeat right bottom;

  .row {
    display: flex;
  }

  .wrapper {
    width: 85%;
    margin: 1% 0 0 15%;
    display: flex;
    justify-content: center;
    min-height: 300px;
    padding: $normal-margin;
  }
}