$normal-ff: sans-serif;
$normal-bgc: #f9f9f9;
$normal-color: #000000;
$black: #110f0f;
$link-color: #d9dada;
$normal-margin: 25px;
$normal-fz: 16px;
$normal-display: flex;

@mixin link-to {
  min-width: 120px;
  padding: 5px 10px;
  margin-top: 10px;
  color: $link-color;
  background-color: $black;
  border: 1px solid $link-color;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;

  &:hover {
    color: $black;
    background-color: $link-color;
    border: 1px solid $black;
  }
}